table {
  padding: 3rem 10rem;
  border: 1px solid black;
}

tr row {
  font-size: 30px;
}

tr {
  display: flex;
    justify-content: space-between;
}

thead tr:first-child {
  font-size: 35px;
    color: red;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

thead tr:nth-child(2) {
  font-size: 20px;
    
    display: flex;
    justify-content: space-around;
    margin-bottom: 1.5rem;
}

thead tr:nth-child(2) tr {
  width: 20rem;
}

.globalFilter {
  display: flex;
  justify-content: center;
  width: 100%;
}

.globalFilter input {
  margin-left: 1rem;
  height: 1.5rem;
  width: 50rem;
  margin-bottom: 2rem;
}

tbody tr td {
  width: 20rem;
}

.recipe {
  width: 20rem;
}


tbody tr td:nth-child(2) {
 
  text-align: center;
}

tbody tr td:nth-child(3) {
 
  text-align: center;
}

tbody tr:nth-child(odd) {
  background-color: lightcoral;
}

tbody tr td:last-child::after {
content: ' kcal';
}

.InfoCard {
  height: 30rem;
  width: 20rem;
  position: absolute;
  left: 100px;
  top: 100px;
}